.card{
    position:relative;
    height:500px;
    width: 500px;
    max-width: 85vw;
    padding:20px;
    border-radius: 20px;
    background-size: cover;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3)!important;
   

}
.tinderCards_cardContainer{
    display: flex;
    justify-content: center;
    margin-top:10vh;
}
.card >h3 {
    color: white;
    position: absolute;
    bottom: 10px;
}
.swipe{
    position: absolute;
}
